body{
    background-color:gainsboro;
    font-size: 24px;
    font-weight: bolder;
}
nav{
    padding: 20px 20px;
    background-color: cornflowerblue;
    color: black;
}
nav ul li a{
    color: black;
}
.container{
    background-color: white;
    padding: 2% 2% 5% 2%;
    margin-top: 0%;
    width: 95%;
}
h3{
    margin-bottom:20px;
    font-weight:bolder;
}
input[type=text], input[type=email], input[type=time], input[type=phone], select, textarea {
    padding: 30px;
    font-size: 24px;
    width: 100%;
}
input[type=submit]{
    width:100%;
    margin-bottom:10px;
    padding:20px 20px 20px 20px;
}
.content{
    background-color: white;
    padding: 10px;
}
.pagination li{
    font-size: 18px;
    font-weight: bolder;
    padding: 5px;
}
table{
    font-size:large;
    font-weight:bolder;
}
table thead{
    font-weight: bolder;
}