body{
    background-color:gainsboro;
    font-size: 12px;
    padding-top: 65px;
    padding-bottom: 65px;
}
nav{
    padding: 5px 5px;
    background-color: cornflowerblue;
    color: black;
}
nav ul li a{
    color: black;
}
.container{
    background-color: white;
    padding: 2% 2% 5% 2%;
    margin-top: 0%;
    width: 95%;
}

.content{
    background-color: white;
    padding: 10px;
}
.pagination li{
    padding: 5px;
}

table thead{
    font-weight: bold;
}