body{
    background-color:gainsboro;
}
nav{
    padding: 20px 20px;
    background-color: cornflowerblue;
    color: black;
}
nav ul li a{
    color: black;
}
.container{
    background-color: white;
    padding: 10% 10% 10% 10%;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content:center;
}
.login{
    background-color: white;
    border-radius: 10px;
    padding: 1px;
}
input[type=text], input[type=email], input[type=submit]{
    border: none;
    padding: 25px;
    font-size: 25px;
    width: 100%;
}

.input-group {
    margin-bottom: 5%;
    width:100%;
}
form{
    background-color: gainsboro;
    font-size: x-large;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}